# Reference to configuration - https://github.blog/2017-07-06-introducing-code-owners/
# Relevant https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This file is used to set permission per team or user to allow auto-merging

# Maintainers
*   @gitpod/maintainers

# Docker maintainers
/dockerfiles/   @kreyren
/scripts/ @kreyren
/CHANGELOG.md @kreyren

# Shell maintainers
*.sh @kreyren

# Bash maintainers
*.bash @kreyren

# Gitpod maintainers
.gitpod.yml   @gitpod/gitpod-maintainers
/gitpod/   @gitpod/gitpod-maintainers

# README.md owners
README.md @kreyren