name: Run Autofix
on:
  schedule:
    - cron:  '0 2 * * MON-FRI' # every workday at 2AM
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Setup Node
      uses: actions/setup-node@v5
      with:
        node-version: "22.x"

    - name: Run autofix
      run: |
        cd .autofix
        npm ci --ignore-scripts
        cd ..
        .autofix/node_modules/.bin/autofix --branches --pull-request
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
